@charset "utf-8";
/**
 * 功能：公共页面样式
 * 日期：2017/4/17
**/
/****************************************/
/* 初始化 */
/****************************************/
* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    padding: 0;
}
a {
    color: #41b883;
}
a:hover {
    color: #35495e;
}
button {
    cursor: pointer;
}
input,select,button {
    outline: none;
    font: 18px "Microsoft Yahei",sans-serif;
}
input,select {
    min-width: 140px;
    padding: 4px 6px;
    border: 1px solid #999999;
}
/* 细节布局 */
.mt-10 {
    margin-top: 20px;
}
.mt-20 {
    margin-top: 20px;
}
/****************************************/
/* 细节设置 */
/****************************************/
body {
    background-color: #f3f3f3;
    font: normal 20px/1.6 Consolas, 'Courier New', "Microsoft YaHei", sans-serif;
    padding-bottom: 50px;
}
main {
    width: 640px;
    margin: 0 auto;
}
main > h1 {
    text-align: center;
    margin-bottom: 24px;
}
main > section {
    padding: 12px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
main > section h2 {
    margin: 0;
    padding: 0;
}
main section ul {
    color: #11bc52;
}
section h2 + button {
    margin: 10px 0;
}

/**** 表格样式 ****/
.frag-table {
    width: 100%;
}
.frag-table thead {
    background-color: #3a3b3c;
    color: #ffffff;
}
.frag-table, .frag-table th, .frag-table td {
    border: 1px solid #acacac;
    border-collapse: collapse;
}
.frag-table th, .frag-table td {
    padding: 12px;
    font-weight: normal;
}
.frag-table th {
    font-size: 16px;
}
.frag-table td {
    font-size: 18px;
}
.frag-table td img {
    height: 72px;
}

/**** 表单样式 ****/
form > div {
    padding-top: 20px;
}
form label, label input {
    display: inline-block;
}
form label {
    width: 96px;
    text-align: right;
}
