@charset "utf-8";
* {
    box-sizing: border-box;
}
body,html {
    margin: 0;
    font: normal 20px "Microsoft Yahei";
}
h1 {
    text-align: center;
    font-weight: normal;
    color: #41b883;
}
nav {
    width: 480px;
    margin: 0 auto;
}
nav ul {
    border: 1px solid #41b883;
    border-radius: 3px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    border-bottom: 1px solid #41b883;
    transition: all 0.15s;
    position: relative;
}
nav ul li:hover {
    background-color: #41b883;
}
nav ul li:last-of-type {
    border-bottom: none;
}
nav ul li a,nav ul li span {
    width: 100%; height: 100%;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #41b883;
    display: block;
}
nav ul li:hover a,nav ul li:hover span {
    color: #ffffff;
}
nav ul li .arrow-right {
    width: 24px; height: 24px;
    background: url("../img/arrow-right.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 12px;
    top: 14px;
    display: none;
}
nav ul li:hover .arrow-right {
    display: block;
}